  
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
  }
  
  /*--------------CUSTOM CSS forr all pages--------------------*/
  
  body {
      overflow-x: hidden;
      box-sizing: border-box;
    }
    
    .navbar .nav-link {
      font-size: 14px;
      text-transform: uppercase;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    
    .navbar .nav-item.active {
      border-left: #444 3px solid;
    }
    
    #main-footer {
      background: #000;
      color: #fff;
    }
    
    /*-----------------------page HOME-----------------------------*/
    
    .carousel-item {
      height: 550px;
    }
    
    .carousel-image-1 {
      background: url("../images/boosterEsk.jpg") no-repeat center center;
      background-size: cover;
    }
    
    .carousel-image-2 {
      background: url("../images/diy_eskateboard.jpeg") no-repeat center center;
      background-size: cover;
    }
    
    .carousel-image-3 {
      background: url("../images/happyRide2.jpeg") no-repeat right center;
      background-size: cover;
    }
    
    #home-heading {
      position: relative;
      min-height: 200px;
      background: url("../images/womanBlack&White.jpg") no-repeat center center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      text-align: center;
      color: #fff;
    }
    
    .dark-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
    
    #video-play {
      position: relative;
      min-height: 340px;
      background: url("../images/womanBlack&White.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: 0 -300px;
      text-align: center;
      color: #fff;
    }
    
    #video-play a {
      color: #fff;
    }

  /*------------------page ABOUT US----------------------*/
  #page-header {
    height: 250px;
    width: 100%;
    background: url("../images/goldenFromStPaul..jpg") no-repeat center center;
    background-position: 0 0;
    background-size: 100%;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
  }
  
  .about-img {
    margin-top: -50px;
  }
  
/*----------------------page GAllery--------------------*/

.imgs {
    float: left;
      width:  350px;
      height: 350px;
      object-fit: cover;
  }

  /*----------------------page meetups--------------------*/
  #faq .card {
    border: 1px #444 solid;
  }
  
  #faq a {
    color: #fff;
    text-decoration: none;
  }
  
  #faq .card-body,
  #faq .card-header {
    background: #333;
  }

  .cardGreenwich {
    background-color: var(--green);
  }

  .cardGherkin {
    background-color: var(--indigo);
  }

  .camdenCard {
    background-color: var(--pink);
  }
  /*----------------------page news--------------------*/

  .cardCovid19 {
    background-color: var(--pink);
  }

  .cardYourFirstBoard {
    background-color: var(--orange);
  }

  .dd_motorCard {
    background-color: var(--teal);
  }

  /*----------------------page Contacts--------------------*/

  .kiki, .babalu, .alicia, .fra {
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }

  /*----------------------page Diy--------------------*/



  

  /*---------------------- mediaqueries --------------------*/
  
    @media (min-width:576px) {
  
      #page-header {
        height: 250px;
        width: 100%;
        background: url("../images/goldenFromStPaul..jpg") no-repeat center center;
        background-position: 0 -400px;
        background-size: 100%;
        background-attachment: fixed;
        color: #fff;
        border-bottom: 1px #eee solid;
        padding-top: 50px;
      }
  
    }
  
    @media (min-width: 992px) { 
      .info_section img {
        position: relative;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        right: -200px;
        }
    }

    @media (min-width: 1024px) { 
      .fix_screen_1024 {
        position: relative;
        right: 120px;
      }
    }

    @media (max-width: 768px) {
      .shape_hero {
        height: 350px;
        width: 350px;
        border-radius: 0 !important;
      }
    }